* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
}

ol,
ul,
li {
    list-style: none;
}

.question-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 15px;
    height: 100%;
    background-color: #23293f;
}


.question-timer {}

.question-body {
    font-size: 18px;
    font-weight: 700;
    padding: 10px 15px;
    color: #e68131;
    background-color: #454857;
    border-radius: 10px;
}

.question-options {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 10px;
    border-bottom: 2px solid #3f3e4e;

}

.option-item {
    appearance: none;
    border: none;
    padding: 8px 15px;
    background-color: #ccdde7;
    display: flex;
    align-items: center;
    column-gap: 15px;
    font-size: 18px;
    font-weight: 500;
    color: #e68131;
    width: 100%;
    margin: 0 auto;
    border-radius: 30px;
    transition: 0.5s;
    cursor: pointer;
    position: relative;
}

.option-item:hover {
    color: #fff;
}

.option-item span {

    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e68131;
    color: #fff;
    font-weight: 500;
    transition: 0.7s;


}

.option-item:hover {

    background-color: #e68131;

}

.option-item:hover span {

    background-color: #ccdde7;
    color: #e68131;

}

.option-item.selected {
    background-color: #e68131;
    color: #fff;
}

.option-item.selected span {
    transform: translateX(215px);
    background-color: #ccdde7;
    color: #e68131;
}


.question-number {
    color: #ccdde7;
    margin-bottom: 15px;
}

.progress-bar {
    width: 90%;
    margin: 0 auto;
    border-radius: 8px;
    background-color: #454857;
    overflow: hidden;
}

.progress-bar span {
    display: block;
    height: 10px;
    background-color: #e68131;
    border-radius: 8px;
}

.question-timer {
    position: relative;
}

.question-timer svg circle {
    transform-origin: center;
    fill: none;
    stroke-width: 7px;
    stroke-dasharray: 314;
    stroke-dashoffset: 314;
    stroke: rgb(248, 0, 0);
    stroke: #ccdde7;
    transform: rotateY(180deg) rotateX(180deg) rotate(90deg);
    animation: 20s countdown linear;


}

.countdown-number {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 30px;
    color: #ccdde7;
    transform: translateX(-50%) translateY(-50%);
}

@keyframes countdown {
    0% {
        stroke-dashoffset: 314;

    }

    100% {
        stroke-dashoffset: 0;

    }
}

@keyframes slide-left {
    0% {
        left: 0;

    }

    0% {
        left: -100%;

    }
}