.quiz-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.quiz {
    height: 756px;
    width: 390px;
    box-sizing: border-box;
    border-color: #111111;
    padding-top: 65px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 84px;
    border-radius: 40px;
    position: relative;
    background-color: #000;
    overflow: hidden;

}

.quiz-body {
    background-color: #23293f;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 10px;
    position: relative;
}

.quiz::before {
    position: absolute;
    content: "";
    width: 84px;
    height: 9px;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border-radius: 10px;

}

.quiz::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border-radius: 50%;

}