.result-page-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.result-percentage {
    display: flex;
    flex-direction: column;
    row-gap: 50px;

}

.percentage-circle {
    position: relative;
}

.percentage-circle img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100px;
    transform: translateX(-50%) translateY(-50%);
}


.percentage-circle circle {
    transform-origin: center;
    fill: #f0f8ff;
    stroke-width: 17px;
    transition: 3s linear;
    transition-delay: 100ms;
    transform: rotate(-84deg);

}

.percentage-number {
    color: #f0f8ff;
    font-size: 34px;
    font-weight: 700;

}

.restart-btn {
    appearance: none;
    border: none;
    padding: 15px;
    background-color: #e68131;
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    width: 80%;
    margin: 0 auto;
    border-radius: 8px;
    transition: 0.5s;
    cursor: pointer;
    margin-top: 25px;
}

.restart-btn:hover {
    opacity: 0.8;
}