button {
    appearance: none;
    border: none;
    outline: none;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
}

.EUR,
.UAH,
.USD {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.root {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.converter {
    width: 360px;
    background-color: #336c1c;
}

.converter-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.converter-bar img {
    height: 40px;
}


.reset-btn {
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    transition: 0.5s;
    border: 2px solid #599242;
}

.reset-btn:hover {
    background-color: #599242;
}

.converter-screen {
    padding: 15px 25px;
    background-color: #f6f5f4;
}

.currency-input-field {
    border-bottom: 2px solid #336c1c;
    background: transparent;
    color: #336c1c;
    font-weight: bold;
    font-size: 20px;
    width: 42%;
    text-align: left;
    font-family: system-ui;
    padding: 0 5px;
}

.form>*:not(:last-child) {
    margin-bottom: 25px;
}

.currency-marker {
    display: flex;
    align-items: center;
    gap: 10px;
}

.marker-icon {
    line-height: 0;
}

.marker-icon img {
    width: 45px;
}

.marker-text {
    color: #336c1c;
    font-weight: 700;
}

label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.converter-keyboard {
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
}

.keyboard-item {
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-grow: 1;
    flex-basis: 33.3333%;
    font-size: 20px;
    transition: 0.3s;
}

.keyboard-item:hover {
    background-color: #599242;
}



.keyboard-item:not(:nth-child(3n)) {
    border-right: 2px solid #599242;
}

.keyboard-row {
    flex-basis: 100%;
    display: flex;
}

.keyboard-row:not(:last-child) {
    border-bottom: 2px solid #599242;
}

.keyboard-remove img {}

.currency-marker {
    padding: 5px;
    transition: 0.5s;
    cursor: pointer;
    border-left: 3px solid transparent;
}

.currency-marker:hover {
    background: #fff;
}

.active .currency-marker {
    display: flex;
    align-items: center;
    gap: 10px;
    border-left: 3px solid #599242;
    background: #fff;
}

.keyboard-remove img {
    pointer-events: none;
}