button {}

.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 10;
    overflow: hidden;

}

.filters {}

.wrapper>ul {
    max-width: 1200px;
    margin: 0 auto;
    gap: 10px !important;
    flex-grow: 1;
    overflow: visible !important;
}

.placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
    padding-top: 50px;
}

.wrapper>ul>li {
    position: relative;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    cursor: pointer;
    /* animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both; */

}




.wrapper>ul>li .favorite {
    position: absolute;
    bottom: 5%;
    right: 5%;
}

.favorite svg {
    transition: 0.5s;
    fill: transparent;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.favorite svg {
    width: 35px;
}

.added svg {
    fill: #CC4444;
    fill: #fff;
    fill: #ffe4c4;
}

.favorite.added svg,
.wrapper>ul>li .favorite:hover svg {
    fill: #CC4444;
    fill: #fff;
    fill: #ffe4c4;
}


@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slide-out-bck-center {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateZ(-1100px);
        transform: translateZ(-1100px);
        opacity: 0;
    }
}