.preview {
    width: 100vw;
    height: 100vh;

    position: absolute;
    z-index: 10;

}

.preview.exit .preview-img {
    animation: slide-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.preview.exit .close-btn {
    opacity: 0;
}

.preview .close-btn {
    position: absolute;
    top: 5%;
    right: 5%;
    line-height: 0;
    cursor: pointer;
    transition: 0.4s;
    will-change: transform;
}

.preview .close-btn:hover {
    transform: scale(1.2);
}

.preview-img {

    backdrop-filter: blur(5px);
    animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preview img {
    width: 50%;
    border-radius: 25px;
}



@keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-out-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }
}